<!-- Login Form -->
<section class="auth-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center mb-4">Login to A-Z Accommodation</h1>
        <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert">
            <%= messages.error %>
          </div>
        <% } %>
        <form action="/login" method="post" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" id="username" type="text" class="form-control" required />
            <div class="valid-feedback">Looks Good!</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" id="password" type="password" class="form-control" required />
          </div>
          <button class="btn w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>